.body{
    margin: 0px;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration:none; 
}

h1 {
    margin: 0;
}

/*　ヘッダー */

header{
    height: 64px;
    width: 100%;
    font-family: sans-serif;
    position: fixed;
    top: 0;
    z-index: 10;
}

.header-background {
    background-color: rgba(253, 250, 240, 0.8);
    width: 100%;
    
}

.header-container{
    width: 470px;
    height: 64px;
    margin: 0 auto;
}

.header-container a {
    color: #707070;
    font-size: 16pt;
    width: 33%;
    border-bottom: none;
    line-height: 64px;
    opacity: 0.8;
    float: left;
}

.btn {
    text-align: center;
    padding: 0px 10px;
    display: block;
}

.btn:hover {
    background-color: rgb(255, 245, 212);
}

/* トップページ */

/* ジャケット */

.top-cover{
    height: 450px;
    background-image: url(images/cover.jpg);
    background-size: cover;
    margin: 0px;
}

.top-container {
    width: 1200px;
    margin: 0 auto;
}

.top-container h1 {
    text-align: left;
    font-size: 68px;
    color: white;
    padding-top: 98px;
    font-family: sans-serif;
}

/* トップコンテンツ（未実装）*/

.top-contents{
    height: 500px;
    background-color: rgb(253, 250, 240);
}

.contents-container {
    width: 1200px;
    margin: 0 auto;
}

.contents-container h1 {
    font-family: serif;
    font-size: 30px;
    opacity: 0.6;
    font-weight: normal;
    text-align: center;
    padding: 100px 0px 40px 0px;
}

/* プロフィールページ */

.profile-page {
    background-color: rgb(253, 250, 240);
    height: 800px;
}

.profile-container {
    width: 1200px;
    margin: 0 auto;
}

.profile-container h1 {
    font-family: serif;
    font-size: 30px;
    opacity: 0.6;
    font-weight: normal;
    padding: 100px 0px 40px 0px;
    text-align: center;
}

.profile-coments {
    font-family: serif;
    font-size: 15px;
    color: #555555;
    padding-bottom: 75px;
    text-align: center;
}

.profile-box{
    width: 700px;
    margin-left: 340px;
    padding-left: 20px;
    height: 200px;
}

.profile-box img {
    float: left;
    padding: 15px 0px;
    padding-right: 60px;
    line-height: 200px;
}

.profile-text {
    line-height: 36px;
    font-family: serif;
}

.profile-text dt {
    float: left;
    font-size: 15px;
    color: #555555;
    padding-right: 20px;
    padding-left: 10px;
    width: 20%;
}

.profile-text dd {
    width: 80%;
    font-size: 15px;
    color: #555555;
    
}

.profile-text a{
    width: 80;
}

.twitter {
    color: #555555;
    padding-right: 5px;
}

.instagram {
    color: #555555;
    
}

.sns {
    text-decoration-line: underline;
}

/* コンタクトページ */

.contact-page {
    background-color: rgb(253, 250, 240);
    height: 800px;
}

.contact-page h1{
    font-family: serif;
    font-size: 30px;
    opacity: 0.6;
    font-weight: normal;
    padding: 100px 0px 40px 0px;
    text-align: center;
}

.contact-coments {
    font-family: serif;
    font-size: 15px;
    color: #555555;
    /*padding-bottom: 50px;*/
    text-align: center;
}

/* コンタクトフォーム現在使用できません文 */

.info-coments {
    font-family: serif;
    font-size: 15px;
    color: #555555;
    text-align: center;
    padding-bottom: 50px;
}

.contact-box {
    width: 470px;
    margin: 0 auto;
}

.contact-box p {
    font-family: serif;
    font-size: 15px;
    color: #555555;
}

.contact-form {
    padding: 8px 50px 8px 0px;
}

.contact-box textarea {
    padding: 30px 300px 30px 0px;
    margin-bottom: 20px;
}

.submit-container {
    width: 470px;
    margin: 0 auto;
    text-align: center;
}

.submit-btn {
    color: #555555;
    font-family: serif;
}